extends layout

block content
  h1= title
  p Welcome to #{title}
  p #[a(target="_blank", href="https://recipe-planner-application.herokuapp.com/") Recipe Planner Client App ]
  p #[a(target="_blank", href="https://documenter.getpostman.com/view/5782940/SzzdBzzN?") API Documentation ]
  p Using #[a(target="_blank", href="https://spoonacular.com/food-api/") Spoonacular Food API ]